<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show</title>
</head>
<body>
<p th:text="${user.getName() + ', ' + user.getBirthYear()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>This user hasn't taken a book yet</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Books:</b>
    <br/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getWritingYear()}">book</tr>
    </table>
    <hr/>
</div>

<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>